@charset "utf-8";
*{margin:0;padding:0;list-style:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0;padding:0}
body,button,input,select,textarea{font:12px tahoma,arial,Microsoft Yahei, sans-serif,iconfont}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new, courier, monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none;}
legend{color:#000} 
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
input, button, select {-webkit-appearance:none;}
input:focus, button:focus, select:focus, textarea:focus {outline:none} 
table{border-collapse:collapse;border-spacing:0}
body,html{height: 100%;width:100%;}
.clear:after{content:'\20';display:block;height:0;clear:both}
.clear{*zoom:1}
.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f36{font-size: 36px;}
[data-dpr="2"] .f10{font-size: 20px;}
[data-dpr="3"] .f10{font-size: 30px;} 
[data-dpr="2"] .f12{font-size: 24px;}
[data-dpr="3"] .f12{font-size: 36px;} 
[data-dpr="2"] .f14{font-size: 28px;}
[data-dpr="3"] .f14{font-size: 42px;} 
[data-dpr="2"] .f16{font-size: 32px;}
[data-dpr="3"] .f16{font-size: 48px;}
[data-dpr="2"] .f18{font-size: 36px;}
[data-dpr="3"] .f18{font-size: 54px;}
[data-dpr="2"] .f22{font-size: 44px;} 
[data-dpr="3"] .f22{font-size: 66px;}
[data-dpr="2"] .f24{font-size: 48px;}
[data-dpr="3"] .f24{font-size: 72px;}
[data-dpr="2"] .f36{font-size: 72px;}
[data-dpr="3"] .f36{font-size: 108px;}
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
[data-dpr='2'] .dropload-down{
	font-size: 24px;
}
[data-dpr='3'] .dropload-down{
	font-size: 36px;
}
.dropload-down{
    height: 1.2rem;
    padding-bottom: 1.8rem;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 100%;
    margin: 0.08rem;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



        .yuyin{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 99999}
        .yuyin .y-bg{width: 100%;height: 100%;background: #000;opacity: .85;position: absolute;z-index: 9}
        .yuyin .y-box{position: absolute;z-index: 10;top: 40%;left: 50%;transform: translate(-50%,-50%);width: 100%;}
        .yuyin .y-con{width: 100%;text-align: center;font-size: .6rem;color: #fff;letter-spacing: 4px}
        .yuyin .y-con font{font-size: .4rem;color: #ccc;margin-top: 15px;letter-spacing:0;}
        .spinner {
          width: 2rem;
          height: 2rem;
          margin: auto;
          background-color: #4facfc;
          border-radius: 100%; 
          position: absolute;
          bottom: -5rem;
          left: 50%;
          transform: translate(-50%);
        }
        .spinner:after{
            content: "";
            background:url(../../image/wx/micro.png) no-repeat center #4facfc;
            background-size: 60%; 
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            border-radius: 100%; 
            -webkit-animation: none;
            animation: none;
            z-index:10;
        }
        .spinner:before{
            content: "";
            margin: auto;
            top: -0.08rem;
            bottom: -0.08rem;
            left: -0.08rem;
            right: -0.08rem;
            background: #b3d9f9;
            z-index: 5;
            position: absolute;
            border-radius: 100%; 
           -webkit-animation: scaleout 2.0s infinite ease-in-out;
            animation: scaleout 2.0s infinite ease-in-out;
        }
        @-webkit-keyframes scaleout {
          0% { -webkit-transform: scale(1.1) }
          50%{
            -webkit-transform: scale(1.16);
          }   100% {
            -webkit-transform: scale(1.1);
          }
        }
        @keyframes scaleout {
           0% { -webkit-transform: scale(1.1) }
          50%{
            -webkit-transform: scale(1.16);
          }   100% {
            -webkit-transform: scale(1.1);
          }
        }