body{padding-top: 1.333rem;box-sizing: border-box;background: #efeff4;line-height: 0}
a:hover{text-decoration: none}

#header{position: fixed;top: 0;width: 100%;z-index: 999;}

.sec-header{height: 1.32rem;background: #fff;display: box;display: -webkit-box;padding:0 0.4rem;position: relative;border-bottom: 1px solid #ddd}
.sec-header a{color: #fff;display: inline-block;vertical-align: middle;box-flex:1;-webkit-box-flex:1;}
.sec-header form{display: box;display: -webkit-box;width:100%;padding: 0.2rem 0}
.sec-header .txt{display: block;vertical-align: middle;border: 0;background-color: #f6f6f6;color: #2a2a2a;box-flex: 7;-webkit-box-flex: 7;box-sizing: border-box;height: 0.893rem;margin-right: 0.5rem;padding-left: 0.4rem;border-radius: 0.1rem;}
.sec-header .btn{display: block;vertical-align: middle;color: #fff;background: #ff2600;border: 0;letter-spacing: 3px;padding: 0 0.3rem;border-radius: 0.1rem;}
.sec-header i{position: absolute;} 
::-webkit-input-placeholder {
color: #2a2a2a; 
} 
:-moz-placeholder {
color: #2a2a2a; 
} 
::-moz-placeholder {
color: #2a2a2a; 
} 
:-ms-input-placeholder {
color: #2a2a2a; 
} 
.wrap{width: 100%;position: relative;background: #fff;margin-top: 0.2rem}
.hot,.his{background:#fff;border-bottom: 1px solid #e3e3e3;margin: 0.35rem 0;}
.hot h3,.his h3{height: 1.333rem;line-height: 1.333rem;text-indent: 0.4rem;font-weight: normal;border-bottom:1px solid #ddd;}
.hot .hot-label{padding:0.4rem;overflow: hidden;}
.hot .hot-label a{line-height:0.867rem;height:0.867rem;padding:0 0.213rem 0 0.213rem;border:1px solid #e2e2e2;display: inline-block;color: #5a5a5a;border-radius: 0.04rem;margin:0 0.2rem 0.2rem 0;}
.his .his-list a{display: block;border-bottom: 1px solid #ddd;color: #5a5a5a;line-height: 1.32rem;height:1.32rem;padding: 0 0 0 0.4rem}
.his .clear{line-height: 1;color: #ff2600;text-align:center;padding: 0.5rem 0;}


